body {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow: hidden;
}

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

canvas,
#shopStats {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#shopStats {
    overflow-y: scroll;
    height: 90%;
}

#rankings {
    padding-bottom: 25%;
}

#info {
    z-index: 5;
    display: inline;
}

#foreground {
    z-index: 2;
}

#background {
    z-index: 1;
}

#explosions {
    z-index: 3;
}

#menu-toggle {
    z-index: 4;
}

#signUpForm,
#shopStats,
#levelButtons,
#cancel,
#menu-toggle {
    display: none;
}

#signInBox {
    position: relative;
    z-index: 3;
    background-color: rgba(255, 255, 255, 0.5);
}

#sidebar-wrapper {
    opacity: .8;
}

#gameContainer {
    position: fixed;
    overflow: hidden;
}

.bg-faded {
    background-color: rgba(255, 255, 255, 0);
    /*nav background color and opacity*/
}

.navbar-light .navbar-nav .nav-link {
    /*nav text color*/
    color: #262626;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 0;
    padding-bottom: 0;
}

nav:not(#shopStatsNav) {
    font-size: 30px;
    color: #262626;
}

body {
    -webkit-touch-callout: none;
    /* Don't let the user select anything*/
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
}
nav:not(#shopStatsNav),
span,
table,
h2,
h3,
p,
h3,
canvas {
    -webkit-touch-callout: none;
    /* Don't let the user select anything*/
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    pointer-events: none
}

#shopStatsNav {
    background-color: rgba(255, 255, 255, .5) !important;
    padding: 0 !important;
}

#allEntities {
    margin-left: 30%;
}

#sword {
    margin-left: 45%;
}

.icon-coins:before {
    content: "\e901";
}

.icon-sword:before {
    content: "\e900";
}

nav {
    /*Inner shadow on nav items*/
    background: #91877b;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #262626;
}

.buttonDown {
    color: rgba(0, 0, 0, .6) !important;
}


/*Override bootstrap navbar active and focus*/

i {
    pointer-events: auto;
    /*allows clicking on nav buttons*/
}

#scoreNav nav {
    padding-top: 0;
}

#topNav nav {
    padding-top: 0;
}

#forgot {
    position: fixed;
    bottom: 50%;
    left: 1%;
    z-index: 8;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
    font-size: 30px;
    color: #262626;
}


/*Portfolio Modal Stuff*/

.portfolio-modal .modal-content {
    border-radius: 0;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    min-height: 100%;
    padding: 5%;
    text-align: center;
}

.portfolio-modal .modal-content h2 {
    margin: 0;
    font-size: 3em;
}

.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}

.portfolio-modal .modal-content .item-details {
    margin: 30px 0;
}

.portfolio-modal .close-modal {
    position: absolute;
    width: 75px;
    height: 75px;
    background-color: transparent;
    top: 25px;
    right: 25px;
    cursor: pointer;
}

.portfolio-modal .close-modal:hover {
    opacity: 0.3;
}

.portfolio-modal .close-modal .lr {
    height: 75px;
    width: 1px;
    margin-left: 35px;
    background-color: #2C3E50;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    /* Safari and Chrome */
    z-index: 1051;
}

.portfolio-modal .close-modal .lr .rl {
    height: 75px;
    width: 1px;
    background-color: #2C3E50;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    /* IE 9 */
    -webkit-transform: rotate(90deg);
    /* Safari and Chrome */
    z-index: 1052;
}

.portfolio-modal .modal-backdrop {
    opacity: 0;
    display: none;
}

.infoBoxes {
    color: #262626;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
    position: fixed;
    z-index: 8;
    top: 33%;
    user-select: none;
    pointer-events: none;
}

#badSpot,
#blockedSpot,
#tutorialMove,
#tutorialAdd,
#pathfindingFailed {
    display: none;
}

.nav-link.active {
    background-color: rgba(255, 255, 255, .9) !important;
}

#tabs {
    padding-top: .5rem;
    padding-bottom: 5rem;
    background-color: rgba(255, 255, 255, .9) !important;
    text-align: center;
}

.table-hover .table-danger:hover>th,
.table-hover .table-danger:hover>td {
    background-color: rgba(255, 153, 0, .3) !important;
}

.table-danger>th,
.table-danger>td {
    background-color: rgba(255, 153, 0, .2) !important;
}

#shopStatsNav a {
    color: #55595c;
}

th {
    text-align: center;
}

.breathing {
    -webkit-animation: breathing 1.5s ease-out infinite normal;
    animation: breathing 1.5s ease-out infinite normal;
}

a.breathing {
    background-color: rgba(250, 250, 55, .5);
    border-radius: 25%;
}

@-webkit-keyframes breathing {
    0% {
        -webkit-transform: scale(1.4);
        transform: scale(1.4);
    }
    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(1.4);
        transform: scale(1.4);
    }
}

@keyframes breathing {
    0% {
        -webkit-transform: scale(1.4);
        -ms-transform: scale(1.4);
        transform: scale(1.4);
    }
    50% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(1.4);
        -ms-transform: scale(1.4);
        transform: scale(1.4);
    }
}


/*Slider Stuff*/

.form-check-label {
    padding-top: 1rem;
}

.slider-selection {
    background: #7C9FFF;
}

.slider.slider-disabled .slider-handle {
    background: #2C64FC;
    background-image: none;
    background-repeat: none;
}

.slider.slider-horizontal {
    width: 75%;
}

.slider.slider-horizontal .slider-track {
    height: 5px;
    margin-top: -2.5px
}

.skills-slider {
    margin-top: 3%;
}

.slider-tick {
    opacity: 1;
}

.slide-tick-label {
    width: 33.3% !important;
}

#starBlue:after {
    background-color: #2C3E50 !important;
}

.slider-tick-container,
.slider-handle {
    display: none;
}

.card p {
    margin-bottom: 0;
}

.bubble 
{
font-family: 'Acme';
position: relative;
width: 100%;
height: 100%;
min-height: 24px;
padding-top: 1%;
padding-bottom: 2%;
padding-right: 2%;
padding-left: 2%;
background: #87DBDF;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}

.bubble:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 17px 8px 0;
border-color: #87DBDF transparent;
display: block;
width: 0;
z-index: 1;
margin-left: -8px;
bottom: -1em;
left: 50%;
}
.modal-footer{
	    text-align: center;
}

#bubbleContainer{
    height = 25%
}

.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.cube1, .cube2 {
  background-color: #333;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
  25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes sk-cubemove {
  25% { 
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  } 50% { 
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  } 50.1% { 
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  } 75% { 
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  } 100% { 
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}
