body {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow: hidden;
}

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
canvas, #shop {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#shop{
  overflow: auto;
  height: 90%;
}

#info{
	z-index: 6;
	display: inline;
}
#foreground {
  z-index: 1;
}
#background {
  z-index: 0;
}
#explosions{
  z-index: 2;
}
#menu-toggle {
  z-index: 3;
}

#signUpForm, #shop, #levelButtons, #cancel, #saveAlertBad, #saveAlertGood, #levelButtons, #signedInNav, #menu-toggle, #cancelLevel{
	display: none;
}
#signInBox {
	position: relative;
	z-index: 3;
	background-color:rgba(255, 255, 255, 0.5);
}

#sidebar-wrapper{
	opacity: .8;
}


#gameContainer{
    position:fixed;
    overflow:hidden;
}
.bg-faded {
    background-color: rgba(255, 255, 255, 0); /*nav background color and opacity*/
  }

  .navbar-light .navbar-nav .nav-link {/*nav text color*/
      color:  #262626;
    padding-right: 5%;
    padding-left: 5%;
    padding-top:0;
    padding-bottom: 0;
}
nav {
  font-size: 30px;
  color:  #262626;

  -webkit-touch-callout: none; /* Don't let the user select anything*/
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
  pointer-events: none

}

#allEntities{
  margin-left: 30%;
}

.icon-coins:before {
  content: "\e901";
}
.icon-sword:before {
  content: "\e900";
}

nav { /*Inner shadow on nav items*/
  background: #91877b;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #262626;
}
.buttonDown {
    color: rgba(0,0,0,.6) !important;
}
/*Override bootstrap navbar active and focus*/
i {
  pointer-events: auto; /*allows clicking on nav buttons*/
}

#scoreNav nav{
  padding-top: 0;
}
#topNav nav{
  padding-top: 0;
}
#bug{
    position: fixed;
    bottom: 20%;
    right: 0;
    width: 300px;
}
