canvas {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}
#foreground {
  z-index: 1;
}
#background {
  z-index: 0;
}
#menu-toggle {
  z-index: 2;
}

#signUpForm {
	display: none;
}
#signInBox {
	position: relative;
	z-index: 3;
	background-color:rgba(255, 255, 255, 0.5);
}

